.idea
Back/.idea
Front/.idea

Back/node_modules
Front/node_modules

.DS_Store
Back/.DS_Store
Front/.DS_Store

Front/dist
Front/tmp
Front/out-tsc

Back/dist
Back/tmp
Back/out-tsc

Back/.firebase
Back/documentation
documentation
