<div class="row">

  <div class="col-sm-6 col-md-3 col-lg-3 mb-4">
    <div class="card shadow border-0 p-3 card-stats">
      <div class="text--blue font-proxima text-center h-100 d-flex align-items-center justify-content-center">
        20
      </div>
      <div style="color: #a3a3a3;" class="text-center font-proxima">
        Tâche(s) créée
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-3 mb-4">
    <div class="card shadow border-0 p-3 card-stats">
      <div class="text--blue font-proxima text-center h-100 d-flex align-items-center justify-content-center">
        32
      </div>
      <div style="color: #a3a3a3;" class="text-center font-proxima">
        Tâche(s) en cours
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-3 mb-4">
    <div class="card shadow border-0 p-3 card-stats">
      <div class="text--blue font-proxima text-center h-100 d-flex align-items-center justify-content-center">
        20
      </div>
      <div style="color: #a3a3a3;" class="text-center font-proxima">
        Tâche(s) en pause
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-3 mb-4">
    <div class="card shadow border-0 p-3 card-stats">
      <div class="text--blue font-proxima text-center h-100 d-flex align-items-center justify-content-center">
        20
      </div>
      <div style="color: #a3a3a3;" class="text-center font-proxima">
        Tâche(s) terminés
      </div>
    </div>
  </div>
</div>
